body {
	display: flex;
	justify-content: center; /* Выравнивание по горизонтали */
	align-items: center; /* Выравнивание по вертикали */
	height: calc(100vh - 3em - 3em); /* Высота body равна высоте окна браузера - 60px — высота header, 5em — высота footer */
	margin: 0; /* Убираем отступы по умолчанию */
	background-color: #fdf5e6; /* Молочный цвет */
	font-size: 16px;
	font-family: Arial, sans-serif;
	padding-top: 60px; /* Отступ для фиксированного хедера */
}

.header {
	display: flex; /* Размещаем элементы в одной строке */
	align-items: center; /* Выравниваем элементы по вертикали по центру */
	padding: 10px 20px; /* Внутренние отступы */
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 2em;
	z-index: 1000;
	background-color: #6b7a8f; /* Цвет фона */
	border: 2px solid #333; /* Рамка */
}

.logo-container {
	text-align: center; /* Центрирование картинки */
	padding: 10px;
	margin-right: 20px; /* Отступ между логотипом и текстом */
}

.logo-image {
	width: auto; /* Картинка занимает всю ширину контейнера */
	height: 2.5em; /* Сохраняет пропорции */
}

.name {
	text-decoration: none; /* Убираем подчеркивание */
	color: inherit; /* Наследуем цвет текста */
	position: relative;
	left: 10px;
	font-size: 1.5em;
	margin: 0; /* Убираем внешние отступы */
}

main {
    padding-top: 6em; /* Отступ для header */
    padding-bottom: 6em; /* Отступ для footer */
}


.footer {
    display: flex;
    flex-direction: column; /* Элементы в колонку */
    justify-content: center; /* Центрирование по вертикали */
    align-items: center; /* Центрирование по горизонтали */
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto; /* Автоматическая высота */
    width: 100%;
    background-color: #f8f9fa; /* Цвет фона footer */
    border-top: 1px solid #ddd; /* Граница сверху */
}

.version {
    font-size: 0.7em;
    color: #666; /* Серый цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    margin: 1px 0; /* Отступ между строками */
}