/* Стили для навигационной панели */
.navbar {
    background-color: #444; /* Цвет фона меню */
    padding: 10px 20px; /* Внутренние отступы */
    position: fixed; /* Фиксированное положение */
    top: 3.48em; /* Прижато к хедеру (высота хедера) */
    left: 0;
    right: 0;
    z-index: 999; /* Меню под хедером */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень */
}

.nav-links {
    list-style: none; /* Убираем маркеры списка */
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px; /* Отступ между пунктами меню */
}

.nav-links a {
    color: #fff; /* Цвет текста */
    text-decoration: none; /* Убираем подчёркивание */
    font-size: 1em; /* Размер шрифта */
    padding: 5px 10px; /* Внутренние отступы */
    transition: background-color 0.3s ease; /* Плавный переход */
}

/* Эффект при наведении на ссылки */
.nav-links a:hover {
    background-color: #555; /* Цвет фона при наведении */
    border-radius: 5px; /* Закруглённые углы */
}