/* Главный контейнер */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Контейнер формы */
.form-container {
    background-color: #ffffff; /* Белый фон */
    border: none;
    border-radius: 12px; /* Закругленные углы */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Тень */
    max-width: 90%; /* Максимальная ширина формы */
    width: 100%;
    margin: 50px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px); /* Высота формы с отступом */
}

/* Таблица */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

th {
    background-color: #f3f3f3;
    font-weight: bold;
}

td.name-cell a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

td.name-cell a:hover {
    text-decoration: underline;
}
