/* Стили для окна ошибок */
#error-window {
    display: none; /* Сначала скрыто */
    position: fixed; /* Фиксированное позиционирование */
    bottom: 20px; /* Расположение внизу */
    right: 20px; /* Расположение справа */
    background-color: #d7f8dd; /* Цвет фона */
    border: 1px solid #6d726e; /* Граница */
    border-radius: 15px; /* Скругленные углы */
    padding: 10px; /* Отступы внутри */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для выделения */
    z-index: 9999; /* Поверх всех элементов */
    width: 15vw; /* Адаптивная ширина */
    min-width: 200px; /* Минимальная ширина */
    max-width: 300px; /* Максимальная ширина */
    min-height: 3vw;
    height: auto; /* Высота автоматическая */

    /* Используем Flexbox для точного управления размещением */
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Горизонтальное центрирование */
}

#error-window.show {
    display: flex; /* Показываем окно */
}

/* Контейнер для полосы прогресса */
#progress-bar-container {
    width: 100%; /* Ширина контейнера полосы прогресса */
    height: 5px; /* Высота полосы */
    background-color: #775a5d; /* Фон контейнера */
    border-radius: 2px; /* Скругленные углы */
    overflow: hidden; /* Скрываем лишнее */
    margin-bottom: 20px; /* Отступ под полосой прогресса */
}

/* Полоса прогресса */
#progress-bar {
    height: 100%; /* Полная высота контейнера */
    width: 100%; /* Начальная ширина */
    background-color: #3e41f0; /* Цвет полосы */
    border-radius: 2px; /* Скругленные углы */
}

/* Сообщение об ошибке */
#error-message {
    font-size: 14px; /* Размер шрифта */
    color: #0f0607; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    word-wrap: break-word; /* Перенос длинных слов */
    white-space: normal; /* Разрешение переноса текста */
    line-height: 1.5; /* Интерлиньяж для удобочитаемости */
    width: 100%; /* Занимает всю доступную ширину */
    box-sizing: border-box; /* Включает padding и border в ширину */
}