body {
	display: flex;
	justify-content: center; /* Выравнивание по горизонтали */
	align-items: center; /* Выравнивание по вертикали */
	height: calc(100vh - 3em - 2em); /* Высота body равна высоте окна браузера - 60px — высота header, 5em — высота footer */
	margin: 0; /* Убираем отступы по умолчанию */
	background-color: #fdf5e6; /* Молочный цвет */
	font-size: 16px;
	font-family: Arial, sans-serif;
}

.header {
	display: flex; /* Размещаем элементы в одной строке */
	align-items: center; /* Выравниваем элементы по вертикали по центру */
	padding: 10px 20px; /* Внутренние отступы */
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 2em;
	z-index: 1000;
	background-color: #6b7a8f; /* Цвет фона */
	border: 2px solid #333; /* Рамка */
}

.logo-container {
	text-align: center; /* Центрирование картинки */
	padding: 10px;
	margin-right: 20px; /* Отступ между логотипом и текстом */
}

.logo-image {
	width: auto; /* Картинка занимает всю ширину контейнера */
	height: 2.5em; /* Сохраняет пропорции */
}

.name {
	text-decoration: none; /* Убираем подчеркивание */
	color: inherit; /* Наследуем цвет текста */
	position: relative;
	left: 10px;
	font-size: 1.5em;
	margin: 0; /* Убираем внешние отступы */
}

main {
    padding-top: 6em; /* Отступ для header */
    padding-bottom: 6em; /* Отступ для footer */
	padding-left: 30vh;
}


.footer {
    display: flex;
    flex-direction: column; /* Элементы в колонку */
    justify-content: center; /* Центрирование по вертикали */
    align-items: center; /* Центрирование по горизонтали */
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto; /* Автоматическая высота */
    width: 100%;
	z-index: 1000;
    background-color: #f8f9fa; /* Цвет фона footer */
    border-top: 1px solid #ddd; /* Граница сверху */
}

.version {
    font-size: 0.7em;
    color: #666; /* Серый цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    margin: 1px 0; /* Отступ между строками */
}

.authorization {
    background-color: #ffffff; /* Белый фон */
    border: 2px solid #333; /* Рамка */
    border-radius: 20px; /* Закруглённые углы */
    padding: 30px; /* Внутренние отступы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень */
    width: 400px; /* Ширина блока */
    text-align: center; /* Выравнивание текста по центру */
    margin: 0 auto; /* Центрирование блока по горизонтали */
    position: relative; /* Для привязки абсолютного позиционирования */
}

.authorization h2 {
    margin-top: 0; /* Убираем отступ сверху у заголовка */
	margin-bottom: 15px; /* Отступ снизу для заголовка */
    font-size: 1.5em; /* Размер шрифта заголовка */
    color: #333; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
}

.authorization form {
    display: flex;
    flex-direction: column; /* Элементы формы в колонку */
    gap: 15px; /* Отступ между элементами формы */
}

.authorization .input-group {
    display: flex; /* Размещаем label и input в одной строке */
    align-items: center; /* Выравниваем по вертикали */
    gap: 6px; /* Отступ между label и input */
}

.authorization label {
    flex: 0 0 80px; /* Фиксированная ширина для label */
    font-size: 1em;
    color: #333;
    text-align: right; /* Выравнивание текста label по правому краю */
}

.authorization input[type="text"],
.authorization input[type="password"] {
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ccc; /* Рамка */
    border-radius: 5px; /* Закруглённые углы */
    font-size: 1em; /* Размер шрифта */
	flex: 1; /* Занимает всё оставшееся пространство */
	box-sizing: border-box; /* Учитываем padding и border в ширине */
	height: auto; /* Автоматическая высота */
	line-height: 1.1; /* Увеличиваем межстрочный интервал */
}

.authorization input[type="submit"] {
    padding: 8px; /* Внутренние отступы */
    background-color: #007bff; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закруглённые углы */
    font-size: 1.1em; /* Размер шрифта */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s ease; /* Плавное изменение цвета */
}

.authorization input[type="submit"]:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}

/* Стили для загрузочной анимации */
.loading-image {
    display: none; /* Сначала скрыта */
    position: absolute; /* Абсолютное позиционирование */
    top: 50%; /* Центрирование вертикально */
    left: 50%; /* Центрирование горизонтально */
    transform: translate(-50%, -50%); /* Корректировка центрирования */
    z-index: 10; /* Поверх всех элементов */
}

/* Стиль для подложки */
.overlay {
    display: none; /* Сначала скрыта */
    position: absolute; /* Абсолютное позиционирование */
    top: 0;
    left: 0;
    width: 100%; /* Занимает всю ширину родительского блока */
    height: 100%; /* Занимает всю высоту родительского блока */
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
    z-index: 10; /* Поверх всех элементов */
    align-items: center; /* Центрирование содержимого по вертикали */
    justify-content: center; /* Центрирование содержимого по горизонтали */
    flex-direction: column; /* Размещение элементов в колонку */
    display: flex; /* Используем Flexbox для центрирования */
}

/* Стиль для загрузочной анимации внутри подложки */
.overlay .loading-image {
    display: block; /* Всегда видима внутри подложки */
}

